<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="display-4">Corona Virus Tracker</h1>
        <div class="jumbotron">
            <h1 th:text="${totalReportedCases}" class="display-4"></h1>
            <p class="lead">Total cases reported as of today.</p>
            <h1 th:text="${totalDiffFromPrevDay}" class="display-6"></h1>
            <p class="lead">Total cases increased from yesterday.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

        <table class="table">
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Total Reported Cases</th>
                <th>Delta</th>
            </tr>
            <tr th:each="locationStat: ${locationStats}">
                <td th:text="${locationStat.getState()}">Null</td>
                <td th:text="${locationStat.getCountry()}">Null</td>
                <td th:text="${locationStat.getLatestTotalCases()}" >0</td>
                <td th:text="${locationStat.getDiffFromPrevDay()}">0</td>
            </tr>
        </table>
    </div>
</body>
</html>